.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.tick
{
    stroke-dasharray: 1, 2;
}

.bar
{
    fill: FireBrick;
}

.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
        
body {
    padding: 0px;
    margin: 0px;
}
        
#chartContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 66%;/* aspect ratio */
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

#weightSVGChart {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.weightOutLogo{
    height: 100%;
}

.filler{
    height: 200px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost:8000/font/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://localhost:8000/font/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://localhost:8000/font/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(http://localhost:8000/font/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}