.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.tick
{
    stroke-dasharray: 1, 2;
}

.bar
{
    fill: FireBrick;
}

.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
        
body {
    padding: 0px;
    margin: 0px;
}
        
#chartContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 65%;/* aspect ratio */
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

#weightSVGChart {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}